
<div class="col-12 col-md-12">
<div class="row">

    <div class="col-6 col-md-6">



<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <p>
    <label for="firstname">Title</label>
    <input type="text" name="title"  [(ngModel)]="f.title">
  </p>

  <p>

    <input type="hidden" name="isCompleted" [(ngModel)]="f.isCompleted" >
  </p>




  <p>
    <button type="submit" *ngIf="!isUpdate">Submit</button>
    <button type="button" (click)="updateOne()" *ngIf="isUpdate"> Update</button>
  </p>

</form>
    </div>
    <div class="col-6 col-md-6">
        <div *ngFor="let todo of todoList">
     <ul>
         <li> <input type="checkbox" [checked]="todo.isCompleted==true" (ngModelChange)="completeTodo(todo._id,$event)" [(ngModel)]="todo.isCompleted"  name="" id=""> {{todo.title}} -{{todo.isCompleted}} <button (click)="viewNote(todo._id)">Edit</button> <button (click)="delteNote(todo._id)">Delete</button></li>
     </ul>
        </div>
    </div>
</div>
</div>