.sidebar{
    height: 100% !important;
    width: 200px;
    background-color: antiquewhite;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
